.aboutContent {
  margin-top: 4rem;
  display: grid;
  grid: repeat(2,1fr)/ repeat(2,1fr);
  gap: 4rem 2rem;
}

.aboutContent img{
  grid-column: 1;
  grid-row: 1;
  width: 500px;
  transform: rotateY(180deg);
}


.aboutContent h1 {
  text-transform: initial;
  color: var(--main-light);
  font-size: 7rem;
  font-weight: 500;
  line-height: 1.2;
  grid-column: 2/ 4;
  grid-row: 1;

}

.aboutContent p{
  line-height: 1.35;
  font-size: 1.4rem;
}

.aboutContent h3{
  font-size: 2rem;
  margin-bottom: .75rem;
}


.socialLinks {
  grid-column: 2/ 4;
  grid-row: 1;
  align-self: flex-end;
  /* position: relative;
  top:8rem; */
}

.socialLinks p{
  margin-bottom: 2rem;
}


.aboutContent p:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2;
}

.aboutContent p:nth-child(4) {
  grid-column: 3/4;
  grid-row: 2;
}


.socialLinks a {
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 2rem;
  transition: var(--hover);
}

.socialLinks a:hover {
  background-color: var(--color-accent);
  color: var(--main-light);

}
@media only screen and (max-width: 425px) {
  .aboutContent {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;

  }

  .aboutContent h1{
    font-size: 3.5rem;
    font-weight: bold;
  }
  .aboutContent img {
    width: 320px;
    align-self: center;
  }

  .aboutContent p {
    align-self: center;
    position: initial;
  }

  .socialLinks {
    display: grid;
    grid-template: 1fr 4rem 4rem  / repeat(2, 1fr);
  }

  .socialLinks p{
    grid-column: 1 / 3 ;
  }

  .socialLinks a {
    text-align: center;
  }


}
