@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*Base Variables*/

:root {
  /*colors*/
  --text-color: #333;
  --main-color: #242745;
  --main-super-light: #8c90c233;
  --main-light: #222a70;
  --color-accent: #ffc15c;
  --color-accent-light: #fcd596;
  --light-grey: #6a6a6a;
  --light-text: #464969;
  --bg-color: #f1eff1;
  --bg-dark: #e2e0e2;

  /*interactions*/
  --hover: all 0.175s ease-in-out;
  --delay: 0.35s;

  /*typography*/
  --title-font: 'Poppins', sans-serif;
  --body-font: 'Anonymous Pro', monospace;
}

body {
  font-family: var(--body-font);
  line-height: 1.15;
  font-size: 20px;
  color: var(--text-color);
  background-color: #f1eff1;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
  text-transform: uppercase;
  color: var(--main-color);
}

h2 {
  font-size: 3.5rem;
  color: var(--main-color);
  font-weight: 900;
}

/* base styles*/
a {
  font-family: var(--title-font);
  text-decoration: none;
  color: inherit;
}

section {
  margin: 2rem auto;
  padding: 4rem 0;
}
