.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.Name {
  color: var(--main-light);
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.1;
}

@media only screen and (max-width: 425px) {
  .Name {
    font-size: 2rem;
  }
}
