.HighlightBox {
  border-left: 12px solid var(--color-accent);
  background-color: var(--main-super-light);
  padding: 1rem;
  margin: 4rem 0;
  display: flex;
  align-items: center;
}
.HighlightBox .HighlightText {
  margin-left: 1rem;
  font-weight: 700;
  color: var(--main-light);
  font-size: 1.5rem;
}

.HighlightBox .Emoji {
  font-size: 3rem;
  padding: 1rem 1.15rem;
}
