.HighlightBox {
  border-left: 6px solid var(--color-accent);
  background-color: var(--bg-dark);
  padding: 1rem;
  margin: 4rem 0;
  display: flex;
  align-items: center;
}
.HighlightBox p {
  margin-left: 1rem;
  font-weight: bold;
}

.HighlightBox .Emoji {
  font-size: 3rem;
  background-color: var(--color-accent-light);
  border-radius: 100%;
  padding: 0.25rem;
}
