.Main {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 13rem 9rem 10rem;
  gap: 0px 0px;
}

.content {
  grid-area: 1 / 1 / 4 / 5;
}

.title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.1;
  grid-area: 1 / 1 / 3 / 5;
  z-index: 10;
  mix-blend-mode: multiply;
  opacity: 0.9;
  width: 11ch;
  padding-top: 4rem;
}
.blurb {
  grid-area: 3 / 1 / 4 / 3;
  font-size: 1.2rem;
  line-height: 1.3;
  color: var(--light-grey);
  font-style: italic;
  align-self: center;
  width: 48ch;
}
.cta {
  grid-area: 4 / 1 / 4/ 4;
  align-self: start;
  justify-self: start;
  justify-self: start;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--main-light);
  padding-top: 0.5rem;
  background-size: 60%;
  background-image: url(../../public/yellow-arrow.svg);
  background-repeat: no-repeat;
  background-position: 20% 108%;
  width: 26rem;
  height: 4.5rem;
  transition: var(--hover);
  z-index: 11;
  cursor: pointer;
}

.cta:hover {
  color: var(--main-color);
  background-position: 1200% 90%;
}
.me {
  width: 480px;
  grid-area: 1 / 3 / 5 / 5;
  justify-self: end;
  z-index: 0;
  transform: rotate(6deg);
  opacity: 0.8;
}

@media only screen and (max-width: 425px) {
  .Main {
    display: flex;
    flex-direction: column;
  }

  .me {
    display: none;
  }
  .title {
    font-size: 3.5rem;
    font-weight: 900;
    padding-top: 4rem;
  }

  .blurb {
    width: 100%;
    padding: 0.5rem 0 2rem;
    font-size: 1.45rem;
  }

  .cta {
    max-width: 400px;
    font-size: 1.8rem;
    background-size: 54%;
    background-position: 15% 70%;
  }
}
