.ProjectCard {
  width: 240px;
  height: 427px;
  padding: 1.6rem;
  display: grid;
  grid: 7rem 1fr 1fr 1fr/ 1fr;
  background-size: contain;
  background-position: center;
  background-blend-mode: multiply;
  color: white;
}

.ProjectCard img {
  height: auto;
  width: 150px;
  text-align: center;
  justify-self: center;
  grid-template-columns: 1fr;
  grid-template-rows: span 1;
}
.ProjectCard .title {
  padding-bottom: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 2 / 3;
}
.ProjectCard p {
  grid-template-columns: 1fr;
  grid-template-rows: 3 / 4;
  font-size: 1rem;
}

.ProjectCard:nth-child(2) img {
  width: 80px;
}

.ProjectCard:nth-child(3) img {
  width: 110px;
}

.ProjectCard:nth-child(4) img {
  padding-top: 0.75rem;
  width: 120px;
}

.ProjectCard:nth-child(1) {
  background-image: url(/imgs/lazuz.png);
}
.ProjectCard:nth-child(2) {
  background-image: url(/imgs/deskspace.png);
}
.ProjectCard:nth-child(3) {
  background-image: url(/imgs/schoolday.png);
}
.ProjectCard:nth-child(4) {
  background-image: url(/imgs/logofolio.png);
}

.ProjectCard a div {
  grid-column: 1fr;
  grid-row: 4 / 5;
}
