.ProjectPageContent {
  width: 1040px;
  padding: 2rem;
}

.ProjectPageContent p {
  color: var(--text-color);
}

.ContentBlock {
  display: grid;
  gap: 0 1rem;
  grid-template: 2.4rem 1fr / repeat(2, 1fr);
  padding: 4rem 0;
}
.ContentBlockImg {
  margin: 4rem 0;
}
.ContentBlock h3:nth-child(3) {
  grid-column: 2;
}

.ContentBlock p:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.ContentBlock p:nth-child(4) {
  grid-column: 2;
}

.ContentBlock img {
  width: 100%;
  border: 2px solid var(--bg-dark);
}

.UiScreens {
  display: flex;
  justify-content: space-between;
}

.UiScreens img {
  padding-top: 2rem;
  display: block;
  width: 45%;
  border: 2px solid var(--bg-dark);
}

.ProjectTitle {
  margin: 2rem 0 4rem;
  background-color: var(--main-light);
  background-blend-mode: multiply;
  background-image: url(/imgs/lazuz.png);
  background-size: 16% 100%;
  background-position: 16% center;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 2rem;
  color: white;
}
.ProjectTitle h1 {
  font-family: var(--title-font);
  color: white;
}

.ProjectTitle p {
  max-width: 40ch;
  padding: 0.5rem 0;
}

@media only screen and (max-width: 480px) {
  .ProjectTitle {
    background-size: cover;
    background-position: center;
  }
  .ProjectPageContent {
    width: 420px;
    padding: 2rem 0 2rem 2rem;
  }
  .ContentBlock {
    display: grid;
    gap: 1rem 0;
    grid-template: 1.4rem/ 1fr 1fr;
    padding: 4rem 0;
  }

  .ContentBlock h3:nth-child(1) {
    grid-column: 1 / span 2;
  }

  .ContentBlock p:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 2;
    padding-bottom: 1rem;
  }
  .ContentBlock h3:nth-child(3) {
    grid-column: 1 / span 2;
  }

  .ContentBlock p:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 4;
  }
  .ContentBlock img {
    grid-column: 1 / span 2;
  }
}
