.ProjectPageContent {
  width: 1040px;
  padding: 2rem;
}

.ProjectPageContent p {
  color: var(--text-color);
}

.ContentBlock {
  display: grid;
  gap: 0 1rem;
  grid-template: 2.4rem 1fr / repeat(2, 1fr);
  padding: 4rem 0;
}
.ContentBlockImg {
  margin: 4rem 0;
}
.ContentBlock h3:nth-child(3) {
  grid-column: 2;
}

.ContentBlock p:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.ContentBlock p:nth-child(4) {
  grid-column: 2;
}

.ContentBlock img {
  width: 100%;
}

.UiScreens {
  display: flex;
  justify-content: space-between;
}

.UiScreens img {
  padding-top: 2rem;
  display: block;
  width: 45%;
}

.ProjectTitle {
  margin: 2rem 0;
  background-color: var(--main-color-light);
  background-blend-mode: multiply;
  background-size: 24% 100%;
  background-position: 18% center;
  height: 48vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 2rem 3rem;
  color: white;
}

.LazuzTitle {
  background-image: url(/imgs/lazuz.webp);
}

.DeskSpaceTitle {
  background-image: url(/imgs/deskspace.webp);
}

.SchooolDayTitle {
  background-color: goldenrod;
  /* background-image: url(/imgs/lazuz.webp); */
}

.LogoFolioTitle {
  background-color: hotpink;
  /* background-image: url(/imgs/lazuz.webp); */
}

.ProjectTitle h1 {
  font-family: var(--title-font);
  color: white;
  font-size: 4rem;
}

.ProjectTitle p {
  max-width: 40ch;
  padding: 0.5rem 0;
}

@media only screen and (max-width: 425px) {
  .ProjectTitle {
    background-size: cover;
    background-position: center;
  }
  .ProjectPageContent {
    width: 100%;
    padding: 1rem;
  }
  .ContentBlock {
    display: grid;
    gap: 1rem 0;
    grid-template: 1fr / 1fr;
    margin: 1rem 0;
  }

  .ContentBlock h3:nth-child(1) {
    grid-column: 1 / span 2;
  }

  .ContentBlock p:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 2;
    padding-bottom: 1rem;
  }
  .ContentBlock h3:nth-child(3) {
    grid-column: 1 / span 2;
  }

  .ContentBlock p:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 4;
  }
  .ContentBlock img {
    grid-column: 1 / span 2;
  }
  .UiScreens img {
    margin-top: 1rem;
  }
}
