.ProjectCard {
  width: 240px;
  height: 427px;
  padding: 1.6rem;
  background-size: cover;
  background-position: center;
  background-color: #444;
  display: grid;
  grid: 5rem / 1fr;
  background-blend-mode: multiply;
  color: white;
}

.ProjectInfo {
  display: grid;
  grid: 2.5rem 8rem 1fr / 1fr;
  gap: 1rem 0;
}
.ProjectCard .title {
  padding: 1rem 0;
  text-align: center;
  font-size: 0.85rem;
  font-style: italic;
  opacity: 0.65;
}
.ProjectCard p {
  justify-self: start;
  font-size: 1rem;
  grid-row: 2 / span 1;
  line-height: 1.35;
}

.ProjectCard:nth-child(2) img {
  width: 80px;
}

.ProjectCard:nth-child(3) img {
  width: 110px;
}

.ProjectCard img {
  height: auto;
  padding: 1rem 0;
  width: 150px;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.ProjectCard:nth-child(4) img {
  padding-top: 0.75rem;
  width: 120px;
}

.ProjectCard:nth-child(1) {
  background-image: url(/imgs/lazuz.webp);
}
.ProjectCard:nth-child(2) {
  background-image: url(/imgs/deskspace.webp);
}
.ProjectCard:nth-child(3) {
  background-image: url(/imgs/schoolday.webp);
}
.ProjectCard:nth-child(4) {
  background-image: url(/imgs/logofolio.webp);
}
.ProjectCard:nth-child(5) {
  background-image: url(/imgs/logofolio.webp);
}
.ProjectCard .cta {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 0.25rem;
  background-image: url(/yellow-arrow.svg);
  background-size: 8rem;
  background-repeat: no-repeat;
  background-position: 40% 90%;
  transition: var(--hover);
}

.ProjectCard .cta:hover {
  background-position: 999% 90%;
}

@media only screen and (max-width: 425px) {
  .ProjectCard {
    width: 200px;
    height: 400px;
    padding: 2rem 1rem;
    justify-self: center;
    align-self: center;
  }
}
