/* .ProjectPageContent {
  width: 1040px;
  padding: 2rem;
} */

.ProjectPageContent p {
  color: var(--text-color);
}

.ContentBlock {
  display: grid;
  gap: 0 1rem;
  grid-template: 2.4rem 1fr / repeat(2, 1fr);
  padding: 4rem 0;
}
.ContentBlockImg {
  margin: 4rem 0;
}
.ContentBlock h3:nth-child(3) {
  grid-column: 2;
}

.ContentBlock p:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.ContentBlock p:nth-child(4) {
  grid-column: 2;
}

.ContentBlock img {
  width: 100%;
}

.UiScreens {
  display: flex;
  justify-content: space-between;
}

.UiScreens img {
  padding-top: 2rem;
  display: block;
  width: 45%;
}

.ProjectTitle {
  margin: 2rem 0;
  height: 32vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 2rem 3rem;
  color: var(--main-color);
  text-transform: uppercase;
}

.LazuzTitle {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    138deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.DeskSpaceTitle {
  background: rgb(0,255,12);
  background: linear-gradient(234deg, rgba(0,255,12,1) 0%, rgba(0,129,255,1) 100%);
}

.SchooolDayTitle {
  background: rgb(0, 153, 255);
  background: linear-gradient(
    315deg,
    rgba(0, 153, 255, 1) 0%,
    rgba(214, 145, 0, 1) 100%
  );
}

.DesignWork {
  background: rgb(0, 76, 255);
  background: linear-gradient(
    138deg,
    rgba(0, 76, 255, 0.43599446614583337) 0%,
    rgba(26, 0, 214, 1) 100%
  );
}

.Blicode {
  background: rgb(1, 27, 79);
  background: linear-gradient(
    137deg,
    rgba(1, 27, 79, 1) 0%,
    rgba(245, 86, 78, 1) 50%,
    rgba(250, 185, 91, 1) 100%
  );
}

.ProjectTitle h1 {
  font-family: var(--title-font);
  font-size: 4rem;
  color: var(--bg-color);
}

.ProjectTitle p {
  max-width: 54ch;
  padding: 0.5rem 0;
  color: var(--bg-color);
}

.CtaBlock {
  background-color: var(--bg-dark);
  display: block;
  text-align: center;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: var(--hover);
}

.CtaBlock:hover {
  background-color: var(--color-accent-light);
}

.CtaBlock span {
  margin-left: 1rem;
}

.DesignCards {
  display: grid;
  grid-template:  repeat(3, 1fr) / repeat(4, 1fr);
  gap: 2rem;
  padding: 0;
  width: 100%;

}

.DesignCards img {
  width: 100%;
}

.DesignCards img:nth-child(1){
  grid-column: 1 / 4;
  grid-row: 1 /3;
}

.FirstGrid:nth-child(1):before{
  grid-column: 1 / 4;
  grid-row: 1 /3;
  display: block;
  content: '34324234242';
  background-color: white;
  height: 1fr;
  width: 1fr;
  z-index: -10;
}

.DesignCards img:nth-child(2){
  grid-column: 4 / 5;
  grid-row: 1;
}

.DesignCards img:nth-child(3){
  grid-column: 4 / 5;
  grid-row: 1;
  align-self: flex-end;
}

.SecondGrid{
  margin-top: 2rem;
}

.SecondGrid img:nth-child(1){
  grid-column: 1 / 3;
}

.SecondGrid img:nth-child(2){
  grid-column: 3 / 5;
}


.BlicodeContent {
  display: block;
  max-width: 50ch;
}

.BlicodeContent h3:first-child {
  margin-bottom: 0.75rem;
}

@media only screen and (max-width: 425px) {
  .ProjectTitle {
    background-size: cover;
    background-position: center;
  }
  .ProjectPageContent {
    width: 100%;
    padding: 1rem;
  }
  .ContentBlock {
    display: grid;
    gap: 1rem 0;
    grid-template: 1fr / 1fr;
    margin: 1rem 0;
  }

  .ContentBlock h3:nth-child(1) {
    grid-column: 1 / span 2;
  }

  .ContentBlock p:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 2;
    padding-bottom: 1rem;
  }
  .ContentBlock h3:nth-child(3) {
    grid-column: 1 / span 2;
  }

  .ContentBlock p:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 4;
  }
  .ContentBlock img {
    grid-column: 1 / span 2;
  }
  .UiScreens img {
    margin-top: 1rem;
  }
}
