.ProjectsGrid {
  padding: 4rem 0;
  display: grid;
  grid: 1fr / repeat(2, 1fr);
  gap: 2rem;
}

@media only screen and (max-width: 425px) {
  .ProjectsGrid {
    display: grid;
    grid: 1fr /1fr 1fr;
    gap: 0.35rem;
    align-items: center;
    justify-items: center;
  }
}
