.ProjectCard {
  /* width: 24rem; */
  height: 21rem;
  padding: 1rem 1.6rem;
  background-size: cover;
  background-position: center;
  background-color: var(--main-super-light);
  display: grid;
  grid: 4rem / 1fr;
  color: var(--main-color);
}

.ProjectInfo {
  display: grid;
  grid: 2.5rem 1fr 1fr / 1fr;
  gap: 1rem 0;
}
.ProjectCard .title {
  padding: 1rem 0;
  text-align: center;
  font-style: italic;
  opacity: 0.65;
}
.ProjectCard p {
  justify-self: start;
  grid-row: 2 / span 1;
  line-height: 1.35;
}

.ProjectCard:nth-child(2) img {
  width: 80px;
}

.ProjectCard:nth-child(3) img {
  width: 110px;
}

.ProjectCard img {
  height: auto;
  padding: 1rem 0.5rem;
  width: 150px;
  text-align: start;
  justify-self: self-start;
}

.ProjectCard .cta {
  font-size: 1.5rem;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;
  background-image: url(/yellow-arrow.svg);
  background-size: 10rem;
  background-repeat: no-repeat;
  background-position: 8% 116%;
  transition: var(--hover);
}

.ProjectCard .cta:hover {
  background-position: 999% 90%;
}

@media only screen and (max-width: 425px) {
  .ProjectCard {
    width: 200px;
    height: 400px;
    padding: 2rem 1rem;
    justify-self: center;
    align-self: center;
  }
}
