.ProjectTitle {
  margin: 2rem 0 4rem;
  background-color: var(--main-light);
  background-blend-mode: multiply;
  background-image: url(/imgs/lazuz.png);
  background-size: 16% 100%;
  background-position: 16% center;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 2rem;
  color: white;
}
.ProjectTitle h1 {
  font-family: var(--title-font);
  color: white;
}

.ProjectTitle p {
  max-width: 40ch;
  padding: 0.5rem 0;
}
