.SectionTitle {
  margin-bottom: 6rem;
  width: 18ch;
}

.SectionSkills {
  width: 24ch;
}
.SkillsGrid {
  display: grid;
  gap: 2rem;
  grid-template: 1fr / repeat(2, 1fr);
}

@media only screen and (max-width: 480px) {
  .SectionTitle {
    font-size: 2rem;
    width: 18ch;
  }
  .SkillsSection {
    margin: 6rem 0;
  }

  .SkillsGrid {
    display: flex;
    flex-direction: column;
  }
}
