.Skill {
  background-color: white;
  padding: 2rem;
  display: grid;
  gap: 1rem 0;
  grid-template: 4rem repeat(2, 1fr) / 1fr;
  height: 18rem;
}

.SkillCard {
  background-color: var(--main-super-light);
  height: 16rem;
}

.title {
  color: var(--main-color);
  font-size: 1.8rem;
  line-height: 1.3;
}

.description {
  color: var(--light-text);
  min-height: 6rem;
}

@media only screen and (max-width: 425px) {
  .Skill {
    height: 24rem;
  }
}
