.Skill {
  background-color: white;
  padding: 2rem;
  display: grid;
  gap: 1rem 0;
  grid-template: 40px repeat(2, 1fr) / 1fr;
  max-height: 18rem;
}

.SkillCard {
  background-color: var(--main-super-light);
  max-height: 16rem;
}

/* .SkillCard h3,
.SkillCard p {
  color: var(--bg-color);
} */

.title {
  color: var(--main-color);
  font-size: 1.8rem;
  line-height: 1.1;
}

.description {
  color: var(--light-text);
  min-height: 6rem;
  margin-bottom: 2rem;
}
