.Skill {
  background-color: white;
  padding: 2rem;
  display: grid;
  gap: 1rem 0;
  grid-template: 60px repeat(2, 1fr) / 1fr;
  max-height: 20rem;
}

.title {
  color: var(--main-color);
  font-size: 1.8rem;
  line-height: 1.1;
}

.description {
  color: var(--light-text);
}

.cta {
  align-self: end;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--main-light);
  background-size: 26%;
  background-image: url(../../public/yellow-arrow.svg);
  background-repeat: no-repeat;
  background-position: 4% 40%;
  height: 4rem;
  transition: var(--hover);
  cursor: pointer;
}

.cta:hover {
  background-position: 200% 40%;
}
